@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApplication1.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="description" content="Self-publishing: Book maturity ratings, genres, search by synopsis." />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/components.min.css" rel="stylesheet" />
    <link href="~/css/star.css" rel="stylesheet" />
    <script src="~/js/jspdf.debug.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <partial name="_Favicons" />
    @RenderSection("CSS", required: false)
    <title>Narrativ Books | Indie Bookstore</title>
</head>
<body class="bg-white" oncopy="return false" onpaste="return false" oncut="return false">
    <nav class="table inline-flex">
        <a class="navbar-brand" href="/books/LandingPage"><img  class="full-width" src="~/images/narrativV.svg" alt="narrrative" /></a>
        <ul class="layout-grid">
            <li class="nav-item">
                <a class="nav-link black" href="/books/Index">Open Market</a>
            </li>
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link black" href="/account/userchat">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link black" href="/books/UploadForm">Upload Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link black" href="/account/Logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dodgerblue-text" title="UserName" href="/account/UserProfile">Hello, @UserManager.GetUserName(User)</a>
                </li>
            }
            else
            {
                <li>
                    <a class="nav-link black" href="/Account/Login">Login to Upload, Edit or Delete</a>
                </li>
                <li>
                    <a class="nav-link black" href="/Account/Register">Register</a>
                </li>
            }
        </ul>
        <div class="col-10 col-lg-4 col-md-7 col-xs-7">
            @ViewBag.Message
        </div>
        <div class="navbar-brand ratings-wrapper media-grid">
            <img src="~/images/ratingsGrid.svg" alt="narrrative" class="ratings-width" />
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    @if (SignInManager.IsSignedIn(User))
    {
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>
        <script src="https://unpkg.com/pdfjs-dist@latest/build/pdf.min.js"></script>
    }

    @RenderSection("Scripts", required: false)
</body>
</html>
